body {
	background-image: url("/images/bookshelf.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.hidden {
    display: none !important;
}

a {
    cursor: pointer;
}

.container {
	width: 970px;
}

.login-tile {
	margin: 0 auto;
	margin-top: 200px;
	float: none;
}

.tile {
	background: #FFFFFF;
}

.book-table {
	width: 100%;
}

.book-thumbnail {
	padding-bottom: 20px;
}

.book-thumbnail > img {
	height: 100px;
}

th {
	text-align: center;
}
