body {
	background-image: url("/images/bookshelf.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.hidden {
    display: none !important;
}

a {
    cursor: pointer;
}

.container {
	width: 1215px;
}

.login-tile {
	margin: 0 auto;
	margin-top: 200px;
	float: none;
}

.search-panel {
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 24px;
	height: 135px;
}

.main-tile {
	margin-top: 20px;
	background: #FFFFFF;
}

.book-table {
	width: 100%;
}

.book-thumbnail {
	padding-bottom: 20px;
}

.book-thumbnail > img {
	height: 100px;
}

.book-row .authors {
	display: block;
}

th {
	text-align: center;
}

.books-search, .my-books {
	display: inline-block;
	width: 550px;
}

.my-books {
	margin-left: 42px;
}

.logo span {
	font-size: 55px;
	font-weight: bold;
	position: relative;
	top: -36px;
}